<h1>Editing admin</h1>

<% form_for(@usuario) do |u| %>
	<%= u.error_messages %>

 <p>
    <%= u.label :nombre %><br />
    <%= u.text_field :nombre %>
  </p>
  <p>
    <%= u.label :correoElectronico %><br />
    <%= u.text_field :correoElectronico %>
  </p>
  <p>
    <%= u.label :telefono %><br />
    <%= u.text_field :telefono %>
  </p>

  <p>
    <%= u.submit 'Guardar' %>
  </p>

<% end %>

  <%=
     link_to_if(Usuario.find(session[:usuario_id]).datos_type == "Admin", "Atras", { :controller => "admins", :action => "show", :id => Usuario.find(session[:usuario_id]).datos_id }) do
       link_to("Ver administradores", :controller => "admins", :action => "index")
     end
  %>

