<h1>Lista de administradores</h1>

<table>

  <tr>
      <th>Nombre</th>
      <th>Email</th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%=h @usuarios[@cont].nombre %></td>
    <td><%=h @usuarios[@cont].correoElectronico %></td>
    <td><%= link_to 'Mostrar', :controller => "admins", :action => "datos", :id => admin.id  %></td>
    <td><%= link_to 'Editar', edit_admin_path(admin) %></td>
    <td><%= link_to 'Eliminar', admin, :confirm => '¿Seguro que quieres eliminar el registro?', :method => :delete %></td>
    <% @cont = @cont + 1 %>
</tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Administrador', new_admin_path %>

