<h1>Bienvenido <%=h @usuario.nombre.capitalize %></h1>

<fieldset>
<legend>Datos del usuario</legend>
<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
  <b>Correoelectronico:</b>
  <%=h @usuario.correoElectronico %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @usuario.telefono %>
</p>
<%= link_to 'Edit', edit_admin_path(@admin) %>
</fieldset>
<br/>

<%= link_to 'Clinicas', clinicas_path %> <br/>
<%= link_to 'Doctores', doctors_path %> <br/>
<%= link_to 'Pacientes', pacientes_path %> <br/>

