<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>

  <b>Correo Electronico:</b>
  <%=h @usuario.correoElectronico %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @usuario.telefono %>
</p>

<p>

  <b>Apellido Paterno:</b>
  <%=h @paciente.apellidoPaterno %>
</p>

<p>
  <b>Apellido Materno:</b>
  <%=h @paciente.apellidoMaterno %>
</p>

<p>
  <b>Edad:</b>
  <%=h @paciente.edad %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @paciente.sexo %>
</p>

<p>
  <b>Fecha de nacimiento:</b>
  <%=h @paciente.fechaNacimiento %>
</p>

<p>
  <b>Ciudad de nacimiento:</b>
  <%=h @paciente.ciudadNacimiento %>
</p>

<p>
  <b>Estado de nacimiento:</b>

  <%=h @paciente.estadoNacimiento %>
</p>

<p>

  <b>Estado civil:</b>
  <%=h @paciente.estadoCivil %>
</p>

<p>
  <b>Estatura:</b>
  <%=h @paciente.estatura %>
</p>

<p>
  <b>Tipo de sangre:</b>
  <%=h @paciente.tipoSangre %>
</p>

<p>
  <b>Tatuajes:</b>
  <%=h @paciente.tatuajes %>
</p>

<p>
  <b>Religion:</b>
  <%=h @paciente.religion %>
</p>

<p>
  <b>Peso:</b>
  <%=h @paciente.peso %>
</p>

<p>
  <b>Preferencia Sexual:</b>
  <%=h @paciente.preferenciaSexual %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @paciente.ocupacion %>
</p>

<p>

  <b>Compania de Seguros:</b>
  <%=h @paciente.companiaSeguros %>
</p>

<p>
  <b>Poliza:</b>
  <%=h @paciente.poliza %>
</p>



<%= link_to "Editar", edit_paciente_path(@paciente)%>
<%= link_to ("Atras", {:controller => "pacientes", :action => "index"})%>


<p>
  <fieldset>
  <legend>Información de citas</legend>
    <% unless @paciente.consultas == nil %>
      <% @paciente.consultas.each do |consulta| %>
        <p>
          <b>Consulta:</b>
          <%= @cont %>
        </p>
        <p>
          <b>Motivo:</b>
          <%= consulta.motivo %>
        </p>
        <p>
          <b>Doctor que atendio:</b>
          <%= consulta.doctor.usuario.nombre %>
          <%= consulta.doctor.apellidoPaterno %>
          <%= consulta.doctor.apellidoMaterno %>
        </p>
        <p>
          <b>Fecha:</b>
          <%= consulta.fecha %>
        </p>
        <p>
          <b>Hora:</b>
          <%= consulta.hora %>
        </p>
        <p>
          <b>Detalles:</b>
          <%= consulta.detalles %>
        </p>
        <p>
        ------------------
        </p>
        <% @cont = @cont + 1 %>
      <% end %>
    <% end %>
    <td><%= link_to 'Agregar una cita', :controller => "pacientes", :action => "citas", :id => @paciente.id %></td><br />
  </fieldset>
</p>

  <%=
     link_to_if(Usuario.find(session[:usuario_id]).datos_type == "Doctor", "Atrás", { :controller => "pacientes", :action => "index" }) do
       link_to("Atrás", { :controller => "pacientes", :action => "show", :id => Usuario.find(session[:usuario_id]).datos_id })
     end
  %>


