<h1>Editing paciente</h1>

<% form_for(@paciente) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :apellidoPaterno %><br />
    <%= f.text_field :apellidoPaterno %>
  </p>
  <p>
    <%= f.label :apellidoMaterno %><br />
    <%= f.text_field :apellidoMaterno %>
  </p>
  <p>
    <%= f.label :edad %><br />
    <%= f.text_field :edad %>
  </p>
  <p>
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </p>
  <p>
    <%= f.label :fechaNacimiento %><br />
    <%= f.date_select :fechaNacimiento %>
  </p>
  <p>
    <%= f.label :ciudadNacimiento %><br />
    <%= f.text_field :ciudadNacimiento %>
  </p>
  <p>
    <%= f.label :estadoNacimiento %><br />
    <%= f.text_field :estadoNacimiento %>
  </p>
  <p>
    <%= f.label :estadoCivil %><br />
    <%= f.text_field :estadoCivil %>
  </p>
  <p>
    <%= f.label :estatura %><br />
    <%= f.text_field :estatura %>
  </p>
  <p>
    <%= f.label :tipoSangre %><br />
    <%= f.text_field :tipoSangre %>
  </p>
  <p>
    <%= f.label :tatuajes %><br />
    <%= f.check_box :tatuajes %>
  </p>
  <p>
    <%= f.label :religion %><br />
    <%= f.text_field :religion %>
  </p>
  <p>
    <%= f.label :peso %><br />
    <%= f.text_field :peso %>
  </p>
  <p>
    <%= f.label :preferenciaSexual %><br />
    <%= f.text_field :preferenciaSexual %>
  </p>
  <p>
    <%= f.label :ocupacion %><br />
    <%= f.text_field :ocupacion %>
  </p>
  <p>
    <%= f.label :companiaSeguros %><br />
    <%= f.text_field :companiaSeguros %>
  </p>
  <p>
    <%= f.label :poliza %><br />
    <%= f.text_field :poliza %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @paciente %> |
<%= link_to 'Back', pacientes_path %>