<h1>Pacientes</h1>

<% form_tag({:controller => "usuarios", :action => "index"}, :method => 'GET') do %>
<%= text_field_tag :busqueda %>
<%= submit_tag "Buscar", :name => "" %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidopaterno</th>
    <th>Apellidomaterno</th>
    <th>Ciudadnacimiento</th>
    <th>Estadonacimiento</th>
    <th>Companiaseguros</th>
    <th>Poliza</th>
  </tr>

<% @pacientes.each do |paciente| %>
  <tr>
    <td><%=h @usuarios[@cont].nombre %></td>
    <td><%=h paciente.apellidoPaterno %></td>
    <td><%=h paciente.apellidoMaterno %></td>
    <td><%=h paciente.ciudadNacimiento %></td>
    <td><%=h paciente.estadoNacimiento %></td>
    <td><%=h paciente.companiaSeguros %></td>
    <td><%=h paciente.poliza %></td>
    <td><%= link_to 'Mostrar', :controller => "pacientes", :action => "datos", :id => paciente.id %></td>
    <td><%= link_to 'Editar', :controller => "pacientes", :action => "edit", :id => paciente.id %></td>
    <% @cont = @cont + 1 %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New paciente', new_paciente_path %>

