<br/>
 <div class="body">
	


<div class = "tabla"> 
<div class = "tablaArriba"> 
<h1>Nuevo paciente</h1>
</div>
<div class = "contenidoTabla">

<% form_for(@paciente) do |f| %>
  <% fields_for(@usuario) do |u| %>
  <%= error_messages_for :usuario, :paciente %>

		 <p>
    <%= u.label :nombre, 'Nombre:'%><br />
    <%= u.text_field :nombre, :class => 'round'%>

  </p>
 <p>
    <%= f.label :apellidoPaterno, 'Apellido Paterno:' %><br />
    <%= f.text_field :apellidoPaterno, :class => 'round' %>
  </p>
  <p>
    <%= f.label :apellidoMaterno, 'Apellido Materno:' %><br />
    <%= f.text_field :apellidoMaterno, :class => 'round' %>
  </p>

    <p>
    <%= u.label :usuario_password, 'Contraseña:' %><br />
    <%= u.password_field :password, :class => 'round' %>
  </p>

  <p>
    <%= u.label :usuario_password_confirmation, 'Confirmación de Contraseña:' %><br />
    <%= u.password_field :password_confirmation, :class => 'round' %>
  </p>

   <p>
  	<%= f.label :sexo, 'Sexo:' %><br />
        <%= label_tag(:sexo, "Masculino") %>
    <%= f.radio_button(:sexo, "Masculino") %>
        <%= label_tag(:sexo, "Femenino")  %>
    <%= f.radio_button(:sexo, "Femenino") %>
  </p>

  <p>
    <%= f.label :fechaNacimiento, 'Fecha de nacimiento:' %><br />
    <%= f.date_select :fechaNacimiento, :end_year => Time.now.year-150, :start_year => Time.now.year,
					:prompt => {:day => "Dia", :month => 'Mes', :year => 'Año'}, :order => [:day,:month,:year] %>
  </p>

 <p>
    <%= f.label :estadoNacimiento, 'Estado de nacimiento:' %><br />
    <%= f.select :estadoNacimiento,
             Paciente::ESTADONACIMIENTO,
            :prompt => "Selecciona un estado"%>
  </p>

    <p>
    <%= f.label :ciudadNacimiento, 'Ciudad de Nacimiento:' %><br />
    <%= f.text_field :ciudadNacimiento, :class => 'round' %>
  </p>

   <p>
    <%= u.label :correoElectronico, 'Correo electrónico:' %><br />
    <%= u.text_field :correoElectronico, :class => 'round'%>
  </p>

  <p>
    <%= u.label :telefono, 'Telefono:' %><br />
    <%= u.text_field :telefono, :placeholder => "(123) 555-1234", :class => 'round' %>
  </p>

<p>
    <%= f.label :estadoCivil, 'Estado civil:' %><br />
    <%= f.select :estadoCivil,
             Paciente::ESTADOCIVIL,
            :prompt => "Selecciona un estado civil"
%>
  </p>

  <p>
    <%= f.label :estatura, 'Estatura:' %><br />
    <%= f.text_field :estatura, :class => 'round' %>
  </p>

<p>
    <%= f.label :tipoSangre, 'Tipo de sangre:' %><br />
    <%= f.select :tipoSangre,
             Paciente::TIPOSANGRE,
            :prompt => "Selecciona un tipo de sangre"
%>
  </p>

   <p>
  	<%= f.label :tatuajes, 'Tatuajes:' %><br />
        <%= label_tag(:tatuajes, "Si") %>
    <%= f.radio_button(:tatuajes, 1) %>
        <%= label_tag(:tatuajes, "No")  %>
    <%= f.radio_button(:tatuajes, 0) %>
  </p>
  <p>
    <%= f.label :religion, 'Religión:' %><br />
    <%= f.select :religion,
             Paciente::RELIGION,
            :prompt => "Selecciona una religión"
%>
  </p>
  <p>
    <%= f.label :peso, 'Peso:' %><br />
    <%= f.text_field :peso, :class => 'round' %>
  </p>
  <p>
    <%= f.label :preferenciaSexual, 'Preferencia Sexual:' %><br />
    <%= f.text_field :preferenciaSexual, :class => 'round' %>
  </p>
  <p>
    <%= f.label :ocupacion, 'Ocupacion:' %><br />
    <%= f.text_field :ocupacion, :class => 'round' %>
  </p>
  <p>
    <%= f.label :companiaSeguros, 'Compania de Seguros:' %><br />
    <%= f.text_field :companiaSeguros, :class => 'round' %>
  </p>
  <p>
    <%= f.label :poliza, 'Poliza:' %><br />
    <%= f.text_field :poliza, :class => 'round' %>
  </p>

<br/>
    <%= f.submit '', :class => 'botonCrear' %>


  <% end %>
<% end %>
</div>
<div class = "tablaAbajo">
</div>
</div>
</div>
