<h1>Bienvenido <%= @usuario.nombre.titleize%></h1>

<fieldset>
<legend>Datos relevantes</legend>
<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
  <b>Apellidopaterno:</b>
  <%=h @paciente.apellidoPaterno %>
</p>

<p>
  <b>Apellidomaterno:</b>
  <%=h @paciente.apellidoMaterno %>
</p>

<p>
  <b>Correoelectronico:</b>
  <%=h @usuario.correoElectronico %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @usuario.telefono %>
</p>
</fieldset>
<br/>

<%= link_to 'Expediente Médico', :controller => "pacientes", :action => "datos", :id => @paciente.id %>

