
<h1>Bienvenido <%=h @usuario.nombre %></h1>
<% if @usuario.datos_type == 'Clinica' %>
<% form_tag({:controller => "usuarios", :action => "index"}, :method => 'GET') do %>
<%= text_field_tag :busqueda %>
<%= submit_tag "Buscar", :name => "" %>
<% end %>
<% end %>

<fieldset>
<legend>Datos del usuario</legend>
<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
<b>Correo:</b>
<%=h @usuario.correoElectronico%>
</p>

<p>
<b>Telefono:</b>
<%=h @usuario.telefono%>
</p>

<p>
  <b>Tipoclinica:</b>
  <%=h @clinica.tipoClinica %>
</p>

<p>
  <b>Especialidad:</b>
  <%=h @clinica.especialidad %>
</p>

<p>
  <b>Sitioweb:</b>
  <%=h @clinica.sitioWeb %>
</p>

 <%= link_to 'Atras', clinicas_path %> | 
 <%= link_to 'Editar', edit_clinica_path(@clinica) %>
</fieldset>





