<br/>
 <div class="body">
	
	<div class = "menu">

		<div class = "menuArriba"></div>

		<div class = "contenidomenu">

			<%= link_to 'Atras', :controller => "clinicas", :action => "show", :id => @clinica.id %>


		</div>
		<div class = "menuAbajo"></div>
	</div>
	


<div class = "tabla"> 
<div class = "tablaArriba"> 
<h1>Editar clinica</h1>
</div>
<div class = "contenidoTabla">





<% form_for(@clinica) do |f| %>
<% fields_for(@usuario) do |u| %>
  <%= error_messages_for :usuario, :clinica %>

	 <p>
    <%= u.label :nombre, 'Nombre' %><br />
    <%= u.text_field :nombre%>
  </p>
  <p>
    <%= u.label :correoElectronico, 'Correo electronico' %><br />
    <%= u.text_field :correoElectronico%>
  </p>

 ­<p>
    <%= u.label :telefono, 'Telefono' %><br />
    <%= u.text_field :telefono, :placeholder => "(123) 555-1234" %>
  </p>

  <p>
    <%= f.label :fax, 'Fax'  %><br />
    <%= f.text_field :fax %>
  </p>

  <p>
    <%= f.label :rfc, 'RFC'  %><br />
    <%= f.text_field :rfc %>
  </p>

 <p>
    <%= f.label :estado, 'Estado' %><br />
    <%= f.select :estado,
             Clinica::ESTADO,
            :prompt => "@clinica.estado"%>
  </p>

 ­ <p>
    <%= f.label :ciudad, 'Ciudad'  %><br />
    <%= f.text_field :ciudad %>
  </p>
  <p>
    <%= f.label :calle, 'Calle'  %><br />
    <%= f.text_field :calle %>
  </p>
  <p>
    <%= f.label :colonia, 'Colonia'  %><br />
    <%= f.text_field :colonia %>
  </p>
  <p>
    <%= f.label :codigoPostal, 'Codigo Postal'  %><br />
    <%= f.text_field :codigoPostal %>
  </p>

  <p>
  	<%= f.label :tipoClinica, 'Tipo de Clinica' %><br />
        <%= label_tag(:tipoClinica, "Publica") %>
    <%= f.radio_button(:tipoClinica, "Publica") %>
        <%= label_tag(:tipoClinica, "Privada")  %>
    <%= f.radio_button(:tipoClinica, "Privada") %>
  </p>

 ­ <p>
    <%= f.label :especialidad, 'Especialidad'  %><br />
    <%= f.text_field :especialidad %>
  </p>
  <p>
    <%= f.label :sitioWeb, 'Sitio Web'  %><br />
    <%= f.text_field :sitioWeb%>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
  <% end %>
<% end %>

<%= link_to 'Ver Clinicas', clinicas_path %>

</div>
<div class = "tablaAbajo">
</div>
</div>
</div>
