<h1>New clinica</h1>

<% form_for(@clinica) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rfc %><br />
    <%= f.text_field :rfc %>
  </p>
  <p>
    <%= f.label :ciudad %><br />
    <%= f.text_field :ciudad %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :calle %><br />
    <%= f.text_field :calle %>
  </p>
  <p>
    <%= f.label :colonia %><br />
    <%= f.text_field :colonia %>
  </p>
  <p>
    <%= f.label :codigoPostal %><br />
    <%= f.text_field :codigoPostal %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :tipoClinica %><br />
    <%= f.text_field :tipoClinica %>
  </p>
  <p>
    <%= f.label :especialidad %><br />
    <%= f.text_field :especialidad %>
  </p>
  <p>
    <%= f.label :sitioWeb %><br />
    <%= f.text_field :sitioWeb %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clinicas_path %>