<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
  <b>Correoelectronico:</b>
  <%=h @usuario.correoElectronico %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @usuario.telefono %>
</p>

<p>
  <b>Rfc:</b>
  <%=h @clinica.rfc %>
</p>

<p>
  <b>Ciudad:</b>
  <%=h @clinica.ciudad %>
</p>

<p>
  <b>Estado:</b>
  <%=h @clinica.estado %>
</p>

<p>
  <b>Calle:</b>
  <%=h @clinica.calle %>
</p>

<p>
  <b>Colonia:</b>
  <%=h @clinica.colonia %>
</p>

<p>
  <b>Codigopostal:</b>
  <%=h @clinica.codigoPostal %>
</p>

<p>
  <b>Fax:</b>
  <%=h @clinica.fax %>
</p>

<p>
  <b>Tipoclinica:</b>
  <%=h @clinica.tipoClinica %>
</p>

<p>
  <b>Especialidad:</b>
  <%=h @clinica.especialidad %>
</p>

<p>
  <b>Sitioweb:</b>
  <%=h @clinica.sitioWeb %>
</p>


<%= link_to 'Edit', edit_clinica_path(@clinica) %> |
<%= link_to 'Back', clinicas_path %>

