  <% form_tag do %>
    <fieldset>
       <legend>Datos de acceso</legend>
       <div>
         <label for="nombre">Usuario:</label>
         <%= text_field_tag :id, params[:id], :placeholder => "Nombre de usuario" %>
       </div>
<p>
</p>
       <div>
         <label for="password">Contrasenia:</label>
         <%= password_field_tag :password, params[:password] %>
       </div>
       <div>
         <%= submit_tag "Entrar" %>
       </div>
    </fieldset>
  <% end %>

Nuevo usuario? <%= link_to 'Registrate como paciente', signup_path%>
<br />
Nueva clinica? <%= link_to 'Registra tu clinica', new_clinica_path %>
<br />
Nuevo doctor? <%= link_to 'Registrate como doctor', new_doctor_path%>


