<h1>Doctores</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidopaterno</th>
    <th>Apellidomaterno</th>
    <th>Especialidad</th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%=h @usuarios[@cont].nombre %></td>
    <td><%=h doctor.apellidoPaterno %></td>
    <td><%=h doctor.apellidoMaterno %></td>
    <td><%=h doctor.especialidad %></td>
    <td><%= link_to 'Mostrar', doctor %></td>
    <td><%= link_to 'Editar', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Eliminar', doctor, :confirm => '¿Seguro que deseas eliminar el registro?', :method => :delete %></td>
    <% @cont = @cont + 1 %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo doctor', new_doctor_path %> |
<%= link_to 'Atras', clinica_path %>

 <%=
     #link_to_if(session[:usuario_id], "Back", { :controller => "usuarios", :action => "perfilClinica" }) do
       #link_to("Back", {:controller => "doctors", :action => "index"})
     #end
  %>

