<h1>Doctores en la clinica</h1>

<table>

<% if @doctors != nil %>
  <% @doctors.each do |doctor| %>
  <tr>
    <th>Nombre</th>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Especialidad</th>
  </tr>
    <tr>
      <td><%=h doctor.usuario.nombre %></td>
      <td><%=h doctor.apellidoPaterno %></td>
      <td><%=h doctor.apellidoMaterno %></td>
      <td><%=h doctor.especialidad %></td>
      <td><%= link_to 'Mostrar', doctor %></td>
      <td><%= link_to 'Editar', edit_doctor_path(doctor) %></td>
      <% @cont = @cont + 1 %>
    </tr>
  <% end %>
<% else %>
  <tr>
    <h2>No hay doctores trabajando en la clinica aun</h2>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Doctor', new_doctor_path %>

