<h1>Editando a <%=h @usuario.nombre.titleize%></h1>

<% form_for(@usuario, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

<p>
<%= f.label :imagen %><br />
<%= f.file_field :imagen %>
</p>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :disabled => "disabled" %>
  </p>
  <p>
    <%= f.label :correoElectronico %><br />
    <%= f.text_field :correoElectronico %>
  </p>
  <p>
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </p>
 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

