<h1>New usuario</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :correoElectronico %><br />
    <%= f.text_field :correoElectronico %>
  </p>
  <p>
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </p>

  <p>
    <%= f.label :usuario_password, 'Password' %><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :usuario_password_confirmation, 'Confirmacion' %><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', usuarios_path %>
