<h1> <%=h @usuario.nombre.titleize %></h1>

<% if @usuario.datos_type == 'Doctor' %>
<% form_tag({:controller => "usuarios", :action => "index"}, :method => 'GET') do %>
<%= text_field_tag :busqueda %>
<%= submit_tag "Buscar", :name => "" %>
<% end %>
<% end %>
<fieldset>
<legend>Datos del usuario</legend>



<p>
<%= image_tag @usuario.imagen(:thumb)%>
</p>

<p>
  <b>Nombre:</b>

  <%=h @usuario.nombre.titleize %> 

</p>



<p>
<b>Correo:</b>
<%=h @usuario.correoElectronico%>
</p>

<p>
<b>Telefono:</b>
<%=h @usuario.telefono%>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %>

</fieldset>

